@model SERVOSA.SAIR.DATAACCESS.Models.DB.TableModel

@{

}

<div id="containerdatatable" style="float: left;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">
                    @Model.TableName
                </th>
            </tr>
            <tr>
                <th>@Model.TableName 1</th>
                <th>@Model.TableName 2</th>
                <th>@Model.TableName 3</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>