@model SERVOSA.SAIR.SERVICE.Models.VehicleServiceModel

<div class="row">
    <p class="text-center">Los datos del Vehículo Seleccionado són:</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">@Html.LabelFor(model => model.Placa)</div>
                <div class="col-md-8">@Html.DisplayFor(model => model.Placa)</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">@Html.LabelFor(model => model.DescripcionTipoUnidad)</div>
                <div class="col-md-8">@Html.DisplayFor(model => model.DescripcionTipoUnidad)</div>
            </div>
        </div>
    </div>
</div>
