
@{
    ViewBag.Title = "Datos de Vehículos";
}

<div class="row">
    @{ Html.RenderAction(MVC.VehicleData.CabeceraVehiculo((int)ViewBag.VehicleCode)); }
</div>
<hr />
<div class="row">
    @{ Html.RenderAction(MVC.VehicleData.DatosVariableVehiculo((int)ViewBag.VehicleCode, "SomeVar")); }
</div>