
@{
    ViewBag.Title = "Administración de Operaciones";
    //Layout = "~/Views/Shared/_LayoutManagementOperation.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <p>Administración de Operaciones</p>
    </div>

    <div class="col-md-12">
        <div id="operationsTable">

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.9.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.ui.datepicker-es.js" type="text/javascript"></script>
    <script src="~/Scripts/handlebars-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/localization/jquery.jtable.es.js" type="text/javascript"></script>
    <script src="~/Scripts/ViewController/Operations/OperationViewController.js" type="text/javascript"></script>
}
