
@{
    ViewBag.Title = "Administración de Operaciones";
}

<div class="row">
    <div class="col-md-12">
        <p>Administración de Operaciones</p>
    </div>

    <div class="col-md-12">
        <div id="operationsTable">

        </div>
    </div>
</div>