<script type="text/x-handlebars-template">
    <div class="containerdatatable" style="display: table-cell;">
        <table class="table table-bordered table-hover servosatable" data-tablename="{{normalizedTableName}}">
            <thead>
                <tr>
                    <th colspan="1">
                        <div style="display: inline-block;">
                            <p style="display: inline;">{{tableName}}</p>
                            <button data-normalizedtablename="{{normalizedTableName}}" data-tablename="{{tableName}}" class="btn btn-default addNewColumnToVariable" type="button" style="display: inline;"> <span class="glyphicon glyphicon-plus"></span> Agregar Columna</button>
                            <button data-normalizedtablename="{{normalizedTableName}}" data-tablename="{{tableName}}" class="downloadFileForVariable btn btn-default" type="button" style="display: inline;"> <span class="glyphicon glyphicon-file"></span> Descargar Datos</button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Tareas</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</script>