@model IEnumerable<SERVOSA.SAIR.DATAACCESS.Models.DB.TableModel>

@{
    ViewBag.Title = "Sistema de Alerta e Incidencias Reuniones";
}

<div class="row">
    <div class="col-md-offset-8 col-md-4">
        <button id="addNewTable" type="button" class="btn btn-default pull-right">Agregar Nueva Tabla</button>
    </div>
</div>

<div class="row" style="overflow-x: auto;">
    <div id="allVehicleInformation" class="col-md-6" style="padding-right: 0px;">
        @{ Html.RenderAction(MVC.Home.VehicleTable()); }
    </div>
    <div id="containerforalltables" class="col-md-6" style="padding-left: 0px;">
        @foreach (var iTable in Model)
        {
            { Html.RenderPartial("VehicleDataTable", iTable); }
        }
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery-ui-1.9.2.js" type="text/javascript"></script>
    <script src="~/Scripts/handlebars-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/localization/jquery.jtable.es.js" type="text/javascript"></script>
    <script src="~/Scripts/ViewController/VehicleViewController.js" type="text/javascript"></script>
}