@{
    ViewBag.Title = "Sistema de Alerta e Incidencias Reuniones";
}

<div class="jumbotron">
    <p class="lead">Lista de Vehiculos y variables.</p>
</div>

<div class="row" style="overflow-x: auto;">
    @{ Html.RenderAction(MVC.Home.VehicleTable()); }
</div>