<script type="text/x-handlebars-template">
    <div class="containerdatatable" style="display: table-cell;">
        <table class="table table-bordered table-hover servosatable" data-tablename="{{normalizedTableName}}">
            <thead>
                <tr>
                    <th colspan="1">
                        <div style="display: inline-block;">
                            <p style="display: inline;">{{tableName}}</p>
                            <button data-normalizedtablename="{{normalizedTableName}}" data-tablename="{{tableName}}" class="btn btn-default addNewColumnToVariable" type="button" style="display: inline;" title="Agregar Columna"> <span class="glyphicon glyphicon-plus"></span> Agregar Columna</button>
                            <button data-normalizedtablename="{{normalizedTableName}}" data-tablename="{{tableName}}" class="downloadFileForVariable btn btn-default" type="button" style="display: inline;" title="Descargar Datos de Variable"> <span class="glyphicon glyphicon-download"></span> Descargar Datos</button>
                            <button data-normalizedtablename="{{normalizedTableName}}" data-tablename="{{tableName}}" class="editdrivertablename btn btn-default" type="button" style="display: inline;" title="Cambiar Nombre"> <span class="glyphicon glyphicon-edit"></span> </button>
                            <button data-normalizedtablename="{{normalizedTableName}}" data-tablename="{{tableName}}" class="removedrivertable btn btn-default" type="button" style="display: inline;" title="Eliminar Variable"> <span class="glyphicon glyphicon-trash"></span> </button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Tareas</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>