<script type="text/x-handlebars-template">
    <div class="containerdatatable" style="display: table-cell;">
        <table class="table table-bordered table-hover servosatable" data-tablename="{{tableName}}">
            <thead>
                <tr>
                    <th colspan="3">
                        {{tableName}}
                    </th>
                </tr>
                <tr>
                    <th>Columna 1 {{tableName}}</th>
                    <th>Columna 2 {{tableName}}</th>
                    <th>Columna 3 {{tableName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>