
@{
    ViewBag.Title = "Administrar Usuarios";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <p class="well text-info">
            Cambie el nombre de usurio, contraseña, de baja a los usuarios existentes.
        </p>
    </div>
    <div class="row"></div>
    <div class="row">
        <div id="userManagementTable">

        </div>
    </div>
</div>

<div class="modal fade" id="changeUserPasswordModal" tabindex="-1" role="dialog" aria-labelledby="changeUserPasswordModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="changeUserPasswordModal-label">Cambiar la Contraseña</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="messagePanel">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="newPassword">Nueva Contraseña</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="newPassword" class="form-control" name="newPassword" type="password" value="" pattern=".{6,0}" required title="La cantidad mínima de carácteres es 6." />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="confirmationNewPassword">Confirme Nueva Contraseña</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="confirmationNewPassword" class="form-control" name="confirmationNewPassword" type="password" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="changeUserPasswordAction">Cambiar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery-ui-1.9.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.ui.datepicker-es.js" type="text/javascript"></script>
    <script src="~/Scripts/Core/ServosaMainCore.js" type="text/javascript"></script>
    <script src="~/Scripts/handlebars-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js" type="text/javascript"></script>
    <script src="~/Scripts/jtable/localization/jquery.jtable.es.js" type="text/javascript"></script>
    <script src="~/Scripts/ViewController/Users/UsersViewController.js" type="text/javascript"></script>
}