<li>
    <div class="row vehicleautocompletecontainer">
        <div class="col-md-7">
            <p class="lead">{{VehiclePlate}} - {{VehicleBrand}}</p>
        </div>
        <div class="col-md-5">
            <!--<a style="display: inline;" href="#"> <span data-vehicleid="{{VehicleId}}" class="downloadvehicledata glyphicon glyphicon-arrow-down"> </span> </a>-->
            <a style="display: inline;" href="/VehicleData/DownloadVehicleData?vehicleId={{VehicleId}}" title="Descargar Datos de Vehiculo"><span class="glyphicon glyphicon-download"></span></a>
            <a style="display: inline;" href="/VehicleData/Data?vehicleCode={{VehicleId}}" title="Panel General"><span class="glyphicon glyphicon-dashboard"></span></a>
        </div>
    </div>
</li>